<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="7zip.install" />
  <package id="adobereader" />
  <package id="amazon-photos" />
  <package id="audacity" />
  <package id="autohotkey" />
  <package id="autohotkey.install" />
  <package id="autohotkey.portable" />
  <package id="awscli" />
  <package id="awssamcli" />
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="chocolatey-misc-helpers.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="corretto17jdk" />
  <package id="corretto21jdk" />
  <package id="discord" />
  <package id="discord.install" />
  <package id="DotNet4.5" />
  <package id="DotNet4.5.2" />
  <package id="DotNet4.6.1" />
  <package id="dotnet4.6.2" />
  <package id="dotnetfx" />
  <package id="filezilla" />
  <package id="Firefox" />
  <package id="git" />
  <package id="git.install" />
  <package id="googledrive" />
  <package id="intellijidea-community" />
  <package id="k-litecodecpackfull" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="KB2999226" />
  <package id="KB3033929" />
  <package id="KB3035131" />
  <package id="microsoft-teams.install" />
  <package id="microsoft-windows-terminal" />
  <package id="mpvnet.install" />
  <package id="nano" />
  <package id="netfx-4.6.2" />
  <package id="nodejs-lts" />
  <package id="nordvpn" />
  <package id="notepadplusplus" />
  <package id="notepadplusplus.install" />
  <package id="nvm" />
  <package id="nvm.install" />
  <package id="postman" />
  <package id="python" />
  <package id="python3" />
  <package id="spotify" />
  <package id="steam" />
  <package id="taskbarx" />
  <package id="vcredist-all" />
  <package id="vcredist140" />
  <package id="vcredist2005" />
  <package id="vcredist2008" />
  <package id="vcredist2010" />
  <package id="vcredist2012" />
  <package id="vcredist2013" />
  <package id="vcredist2015" />
  <package id="vcredist2017" />
  <package id="vscode" />
  <package id="vscode.install" />
  <package id="Wget" />
  <package id="windirstat" />
  <package id="windowgrid" />
</packages>